{% extends 'base.html' %}

{% block title %}
    Smart Notes
{% endblock %}

{% block content %}
    <h1>Welcome to smart notes!</h1>
    <p>Today is {{today}}</p>
    <a href="{% url 'notes.list' %}" class="btn btn-primary">Check out Smart Notes</a>
{% endblock %}