{% extends 'base.html' %}

{% block title %}
    Notes | {{ note.title }}
{% endblock %}

{% block content %}
    <div class="border round">
        <h1 class="my-5">{{note.title}}</h1>
        <p>{{note.text}}</p>
    </div>

    <a href="{% url 'notes.list' %}" class="btn btn-primry">Back to notes list</a>
    <a href="{% url 'notes.update' pk=note.id %}" class="btn btn-secondary">Edit</a>
    <a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-danger">Delete</a>
    
{% endblock %}