{% extends "base.html" %}

{% block title %}
    Notes | {{ notes|length }}
{% endblock %}

{% block content %}
    <h1 class="my-5">Notes</h1>
    <a href="{% url 'notes.new' %}" class="btn btn-warning mb-4">Add New Note</a>

    <div class="row row-cols3 g-2">
        {% for note in notes %}
            <div class="col">
                <div class="p-3 border">
                    <a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-none">
                        <h3>{{note.title}}</h3>
                    </a>
                    <p>{{ note.text | truncatechars:10 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}