{% extends 'base.html' %}

{% block title %}
Create a new note
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary my-5">Submit</button>
</form>

{% if form.errors %}
    <div class="alert alert-danger my-5">
        {{ form.errors.title.as_text}}
    </div>
{% endif %}

<a href="{% url 'notes.list' %}" class="btn btn-secondary">Cancel</a>

{% endblock %}