{% extends 'base.html' %}

{% block title %}
Delete post 
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}

    <p>Are you sure you want to delete "<strong>{{notes.title}}</strong>"?</p>
    <p>This action can't be undone</p>

    <input type="submit" class="btn btn-danger" value="Confirm" />
</form>

{% endblock %}