{% load static %}

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <nav class='navbar navbar-dark bg-dark'>
            <div class="ms-auto">
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class='btn btn-outline-light me-1'>Login</a>
                    <a href="{% url 'register' %}" class='btn btn-outline-light me-1'>Register</a>
                {% else %}
                    <a href="{% url 'notes.list' %}" class='btn btn-outline-light me-1'>Notes</a>
                    <a href="{% url 'notes.new' %}" class='btn btn-outline-light me-1'>New Note</a>
                    <a href="{% url 'logout' %}" class='btn btn-outline-light me-1'>Logout</a>
                {% endif %}
            </div>
        </nav>
        <div class="my-5 text-center container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>